<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycloud.distributedDB.mapper.productmapper.POrderMapper">


    <insert id="insert">
        insert into p_order (id, total_money, user_id)
        values (#{id}, #{totalMoney}, #{userId})
    </insert>
</mapper>