<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycloud.umsserver.mapper.MemberMapper">


    <insert id="insert">
        insert into ums_member (id, u_name, u_pass, slat, mobile, sex, state, nickname, avatar_url)
        values (#{id}, #{userName}, #{userPass}, #{slat}, #{mobile}, #{sex}, #{state}, #{nickname}, #{avatarUrl})
    </insert>
</mapper>